Name: <input id="name" type="text" name="Name">
Initiative: <input id="init" type="text" name="Initiative">
Class: <input id="class" type="text" name="Class">
Level: <input id="level" type="text" name="Level">
    <button type="button" onClick="ap_add_init()">Add New</button>
