
    <button type="button" onClick="load_add_page()">Add New</button>
        <div class="result-area ch70">
            <div class="results">
                <div class="desc">Initiative:</div>
                <ul id="todoItems"></ul>
            </div>
            <div class="separator"></div>
        </div> 

        <button type="button" onClick="next_turn()">NEXT</button>
